<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beta.crop.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.beta.crop.model.Product">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="l3_code" jdbcType="VARCHAR" property="l3Code" />
    <result column="min_unit" jdbcType="INTEGER" property="minUnit" />
    <result column="single_factor" jdbcType="INTEGER" property="singleFactor" />
    <result column="creat_path" jdbcType="VARCHAR" property="creatPath" />
    <result column="img_id" jdbcType="VARCHAR" property="imgId" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="product_price" jdbcType="DOUBLE" property="productPrice" />
    <result column="is_delivery_free" jdbcType="TINYINT" property="isDeliveryFree" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, product_name, l3_code, min_unit, single_factor, creat_path, img_id, 
    creat_time, modify_time, description, user_id, product_price, is_delivery_free
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>