<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beta.crop.dao.ProductServiceMapper">
  <resultMap id="BaseResultMap" type="com.beta.crop.model.ProductService">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="service_code" jdbcType="VARCHAR" property="serviceCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, service_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_service
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>