<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beta.crop.dao.ProductFeatureMapper">
  <resultMap id="BaseResultMap" type="com.beta.crop.model.ProductFeature">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="feature_name" jdbcType="VARCHAR" property="featureName" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="feature_code" jdbcType="VARCHAR" property="featureCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, feature_name, product_code, feature_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_feature
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>